
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Trainee/TraineeLayout.cshtml";
}

<h1 style="color:red">Hello My Friend</h1>
<h3>Well come to FPT training system!</h3>
<img src="https://daihoc.fpt.edu.vn/media/2019/04/173272355-w600-2829-1554360715.png" alt="Alternate Text" />
