
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <script src="~/Scripts/js/datatables-simple-demo.js"></script>
    <script src="~/Scripts/js/scripts.js"></script>
</head>
<body>
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                <div class="card-body">
                                    <form style="text-align:center">
                                        <div>
                                            <select>
                                                <option selected="selected" value="">Select chức vụ</option>
                                                <option value="3">Admin</option>
                                                <option value="4">Staff</option>
                                                <option value="5">Trainer</option>
                                                <option value="6">Trainee</option>
                                            </select>
                                        </div>
                                        <div>
                                            <input type="submit" name="name" value="Submit" />
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3" style="min-height:50px">                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
</body>
</html>
