
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Staff/StaffLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>       

    </style>
</head>
<body>

    <h1 style="color:red">Hello Training Staff</h1>
    <h3>Well come to FPT training system!</h3>
    <img src="https://daihoc.fpt.edu.vn/media/2019/04/173272355-w600-2829-1554360715.png" alt="Alternate Text" />
</body>
</html>

